$textColor: #000;
$fontSize: 14px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  min-width: $minWidth;
  margin: 0 auto;
  padding: 0 30px;
  height: $headerHeight;
  line-height: $headerHeight;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .login {
    line-height: $headerHeight;
  }
  .logo {
    display: block;
    box-sizing: border-box;
    padding: 10px 0;
    height: 60px;
    line-height: 40px;
    img {
      float: left;
    }
    span {
      float: left;
      line-height: 40px;
      font-size: 18px;
      font-weight: 600;
      color: #241916;
      &.green {
        color: $primaryColor;
        margin-left: 10px;
      }
    }
  }
  .logout,
  .login__change {
    float: right;
    margin-right: 10px;
    color: $primaryTextColor;
    font-size: $fontSize;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 15px;
    .login {
      display: none;
    }
    .logo {
      padding: 15px 0;
      img {
        height: 30px;
      }
    }
  }
}
