body {
  margin: 0;
  padding: 0;
  font-size: $fontSize;
  color: $primaryTextColor;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
}

a {
  color: #505050;
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
}


/* 动画 */
.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}


.button__custom.el-button {
  padding: 10px 18px 8px 18px;
  box-sizing: border-box;
}

.button__large.el-button {
  padding: 12px 18px 10px 18px;
  box-sizing: border-box;
}


.el-button.el-button--danger {
  color: $dangerColor;
  background-color: #fff;
  border: 1px solid #dcdfe6;
}

.carousel__custom {
  .el-carousel__container {
    height: 360px;
  }
  .el-carousel__indicator {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 10px 0 0;
  }
  .el-carousel__button {
    height: 10px;
    width: 10px;
    border-radius: 100%;
  }
  .el-carousel__indicators {
    left: 70px;
    bottom: 20px;
    margin: 0;
  }
}

.search-box {
  width: 385px;
  margin: 0 auto;
  .el-select .el-input {
    width: 120px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }

  .el-input-group__append {
    padding: 0;
    width: 58px;
    .el-button {
      width: 100%;
      margin: 0;
    }
  }
}

.el-pager li {
  color: #303133;
}

.scroll-wrapper, .scroll-full-wrapper {
  position: absolute;
  top: 60px;
  left: 294px;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}

.scroll-full-wrapper {
  left: 0;
}

.scrollbar-box {
  height: 100%;
  width: 100%;
}

.el-dialog {
  width: 540px !important;
}

.add-form{
  &.el-form--label-top{

    .el-input {
     width: 320px;
    }
    .left-input {
      .el-input {
        width: 175px;
       }
    }
    .el-form-item__label {
      padding: 0 !important;
      line-height: 24px;
    }
    .el-textarea {
      width: 320px;
      box-sizing: border-box;
    }
    .el-textarea__inner {
      min-height: 80px;
      width: 320px;
    }
    .el-form-item {
      margin-bottom: 10px;
    }
  }

}

.manage__card {
  padding: 20px;
  border-radius: 3px;
  background-color: $primaryTextColor;
  color: #fff;
  font-size: 14px;
  position: relative;
  .toggle-icon {
    position: absolute;
    width: 32px;
    text-align: center;
    background: #fff;
    color: #000000;
    top: 17px;
    right: 20px;
    border-radius: 3px;
    cursor: pointer;
    .myhr-upward {
      line-height: 26px;
      display: inline-block;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: rotate(180deg);
      &.hide {
        transform: rotate(0);
      }
    }
  }
  .manage__card-title {
    font-size: 16px;
    color: #fff;
    i {
      margin-right: 5px;
    }
  }

  .manage__card-meta {
    margin-top: 20px;
    li {
      margin: 20px 0;
      .el-input {
        width: 348px;
      }
    }
    h2 {
      color: rgba(255, 255, 255, 0.65);
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    div {
      line-height: 20px;
    }
  }

  .edit-form {
    padding: 15px 0;
    .el-form-item__label {
      color: #fff !important;
    }
  }

}

.el-dialog__body {
  padding: 20px 20px 0 20px !important;
}

.el-tabs--top .el-tabs__item.is-top:nth-child(2), .el-tabs--top .el-tabs__item.is-bottom:nth-child(2), .el-tabs--bottom .el-tabs__item.is-top:nth-child(2), .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2){
  padding: 0 15px !important;
}

.el-tabs--top .el-tabs__item.is-top:last-child, .el-tabs--top .el-tabs__item.is-bottom:last-child, .el-tabs--bottom .el-tabs__item.is-top:last-child, .el-tabs--bottom .el-tabs__item.is-bottom:last-child {
  padding: 0 15px !important;
}
.el-tabs__item {

  text-align: center;
  &.is-active {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      display: content;
      height: 3px;
      background-color: $primaryColor;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu__manage,
  .manage__card, .search-box, .login
  .scroll-wrapper, .redirect__card {
    display: none;
  }
  .scroll-wrapper {
    left: 0;
  }
}
