.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(238, 238, 238);
  min-width: $minWidth;
  padding-top: $headerHeight;
  box-sizing: border-box;
  .content {
    padding-left: 294px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .container {
    min-width: 100%;
    width: 100vw;
    overflow-x: hidden;

  }
}
